.ipynb_checkpoints/
__pycache__/
models/
datasets/
error_dumps/
runs/
figures/
src_hashes/
slides/
videos/
scripts/
images/
extensions/*/build/
extensions/*/dist/
extensions/*/*.egg-info/
traces/
pdbs/
